# macOS
.DS_Store

# Node
node_modules/
**/node_modules/

# Env files
.env
.env.*
**/.env
**/.env.*

# Rust/Cargo
target/
**/target/

# Solana/Anchor
**/*-keypair.json
**/deploy/*.json
**/*.so
**/*.dylib
**/*.rlib
**/*.rmeta